.job-details{
    margin-top: 50px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 20px;
    border-radius: 8px;
}
.job-details-cart{
    background-color:rgb(230, 214, 245);
}