.job-categories{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

@media  screen and (max-width:576px) {
    .job-categories{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media  screen and (min-width:577px) and (max-width:768px) {
    .job-categories{
        grid-template-columns: repeat(2, 1fr);
    }
}