.job-category{
border-radius: 8px;
padding: 20px;
background-color:rgb(239, 228, 250);
}
.category-title{
font-weight: 800;
font-size: 20px;
color: #474747;
}
.job-category p{
    font-weight: 500;
    font-size: 16px;
    color: #585656;
}
.category-icon{
    margin-bottom: 20px;
}