.footer-banner-section h3{
font-weight: 800;
font-size: 32px;
color: #FFFFFF;
}

.footer-product-section p, .footer-banner-section p, .footer-company-section p, .footer-support-section p, .footer-contact-section address{
    color: #ffffffb3;
    font-weight: 400;
font-size: 17px;
}
.footer-product-section h4, .footer-company-section h4, .footer-support-section h4, .footer-contact-section h4{
color: white;
font-weight: 600;
font-size: 20px;
}
.footer-icon img{
    width: 42px;
    height: 42px;
    border-radius: 50px;
    margin-right: 15px;
}
.footer-end{
    color: #ffffffb3;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 16px;
}