/* here is the global style or universal style code  */
.app{
  font-family: 'manpare';
  font-style: normal;
}
p{
  font-size: 18px;
}
.hero-section, .job-category-section, .featured-jobs-section{
  margin-top: 80px;
}
/* all button design  */
.primary-btn{
  background-color: blueviolet;
  color: white;
  padding: 0px 15px;
  height: 47px;
  width: max-content;
  font-size: 17px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  text-decoration: none;
}
.primary-btn:hover{
  background-color: #8810f8;
}

/* primary text color  */
.primary-color{
  color: blueviolet;
}

